NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_publish_key_supabase
JWT_SECRET=your_jwt
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=cloud_api_key_secret