@import "tailwindcss";

:root {
   --pertama: #1B2B48;
   --kedua: #FBF8FB;
   --ketiga: #D8E2FF;
   --keempat: #D97706;
   --kelima: #F6A9AB;
   --keenam: #777779;
   --ketujuh: #0D9488;
   --kedelapan: #0058BE;
   --kesembilan: #F5F3F6;
}

* {
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   min-height: 100%;
   font-family: var(--font-poppins), sans-serif;
   background-color: var(--kedua);
   color: var(--pertama);
}